.hero-text{
    background-image:linear-gradient(to right, #46D1FF, #006BBE);background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent;-moz-background-clip:text;-moz-text-fill-color:transparent;
    line-height: 10px;
}